.burgerMenuIcon {
    width: 50px;

    float: left;
    clear: right;
}


.header {
    padding: 20px; 
    display: inline-block;
    width: 105%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
    /* выше 2 параметра на затемнение снизу */
    height: 70px;
}

.header h1 {
    float: right;
    width: 10em;
    max-width: 100%;
    min-height: 2em;
}